*{
    margin: 10px;
    padding: 0;
   box-sizing: ;
   
}
body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(head.jpg);
 background-repeat: no-repeat;

  }
  .head{
      display: flex;
      flex-direction: column;
     text-align: center;
     height: 400px;
    
    background-image: url(London.jpg) ;
    max-width: 100%;
    color: rgb(145, 172, 172);
  }
  .name{
      font-size: 60px;
      margin-top: 100px;
  }
  .field{
      font-size: 30px;
      
  }
  .content{
      display: flex;
      flex-direction: column;
      background:rgb(179, 190, 190);
    
      margin-left: 4px;
  }
  .nav{
    display: flex;
    justify-content:space-between;
    border-style: none;
    width: 100vw;
    margin-left :4px;
    background-color: rgb(179, 190, 190);
   
}
@media screen and (max-width:768) {
    src{

    }

  .footer{
     padding: 3rem;
      fill-opacity: 0.7;
      background-color: rgb(179, 190, 190);
      
  }
  @media screen and (max-width:768) {
      .footer{
          display: flex;
          flex-direction: column;
      }
      
  }
  div.footer-input{
      display: flex;
      flex-direction:row;
      

  }
  input[type="text"] {
    margin-right: 10px;
    padding: 10px 20px;
    width: 25%;
    outline: none;
    border: 1px solid #bcc3c7;
    background:  #272626;
    color: #ebdcdc;
    font-size: 1rem;
    border-radius: 2px;
}

input[type="email"] {
    margin-right: 10px;
    padding: 10px 20px;
    width: 25%;
    outline: none;
    border: 1px solid #bcc3c7;
    background:rgb(49, 51, 51);
    color: #ebdcdc;
    font-size: 1rem;
    border-radius: 2px;
}

::placeholder {
    color:#ebdcdc ;
}

div.footer-textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

textarea {
    width: 51%;
    height: 150px;
    padding: 0.5rem;
    outline: none;
    border: 1px solid #bcc3c7;
    background: rgb(49, 51, 51);
    color: #f3eaea;
}
div.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
div.footer-btn a {
    background: #E44C65;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 0.9rem;
    padding: 10px 50px;
    border-radius: 3px;
    letter-spacing: 2px;
     
}
div.copyright{
   text-align:center;
}